{% extends "base.html" %}
{% load bootstrap4 %}
{% block container %}

<link rel="stylesheet" href="/static/css/beat.css"/>
<link rel="stylesheet" href="/static/css/button.css"/>

<style>
    body{
            background:linear-gradient(0deg,rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/static/img/backgroundimg_5.jpg");
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            margin: 0px;
        }
    img {
    width: 200px;
    height: 500px;
    text-align: center;
    }
    tbody {
    opacity: 0.7;
    background-color: #FFFFF0;
    }
    table {
    text-align: center;
    }
</style>

<div class="spinner-wrap">
    <div class="spinner-outer"></div>
    <div class="spinner-center"></div>
    <div class="play-sprite"></div>
</div>

<audio loop="loop" data-bpm={{tempo}}>
    <source src={{soundfile}} type="audio/wav"/>
</audio>

<br><br><br><br><br>

<table class="table table-hover">

    <thead style="color: #FFFFF0">
        <tr>
            <th scope="col" style="text-align: center;">제목</th>
            <th scope="col" style="text-align: center;">음악 총 길이</th>
            <th scope="col" style="text-align: center;">BPM</th>
            <th scope="col" style="text-align: center;">다운로드</th>
        </tr>
    </thead>

    <tbody>
        <td  style="text-align: center;">{{ filename }}</td>
        <td  style="text-align: center;">{{ time }}{{'초'}}</td>
        <td  style="text-align: center;">{{ tempo }}{{'bpm'}}</td>
        <td  style="text-align: center;">
            <div class="button_wrap">
                <a class="button_wrap_a" href={{beat_times}} download><span class="button_wrap_span">Download File</span></a>
            </div>
        </td>
    </tbody>
</table>

<div id="waveform_original">
    <audio id="myAudio_original"><source id="audiofile_original" src={{soundfile}}></audio>
    <div class="controls_original container">
	    <h1>C o n t r o l</h1>
        <br>
	    <ul class="Nav MainNav">
		    <button class="MainNav-Button MainNav-Button_LeftOfActive" data-action="back">&nbsp;Backward&nbsp;</button>
		    <button class="MainNav-Button MainNav-Button_Active" data-action="stop"> &nbsp;&nbsp;&nbsp;Stop&nbsp;&nbsp;&nbsp;</button>
		    <button class="MainNav-Button MainNav-Button_RightOfActive" data-action="play">&nbsp;&nbsp;&nbsp;Play&nbsp;&nbsp;&nbsp;</button>
            <button class="MainNav-Button MainNav-Button" data-action="pause"> &nbsp;&nbsp; Pause &nbsp;&nbsp;</button>
            <button class="MainNav-Button MainNav-Button" data-action="forward"> &nbsp; Forward &nbsp;</button>
	    </ul>
    </div>

    <script src = "/static/js/music_original.js"></script>
</div>

<script src = "/static/js/function.js"></script>
<script src = "/static/js/button.js"></script>

{% endblock %}