{% extends "base.html" %}
{% load bootstrap4 %}
{% block container %}

<style>
    body{
            background:linear-gradient(0deg,rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/static/img/backgroundimg_5.jpg");
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            margin: 0px;
        }
    img {
    width: 200px;
    height: 500px;
    text-align: center;
    }
    tbody {
    opacity: 0.7;
    background-color: #FFFFF0;
    }
    table {
    text-align: center;
    }
</style>

<link rel="stylesheet" href="/static/css/beat.css"/>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">제목</th>
            <th scope="col">음악 총 길이</th>
            <th scope="col">BPM</th>
            <th scope="col">다운로드</th>

        </tr>
    </thead>

    <tbody>
        <td>{{ filename }}</td>
        <td>{{ time }}{{'초'}}</td>
        <td>{{ tempo }}{{'bpm'}}</td>
        <td>
            <button class="btn btn-primary"><a href={{beat_times}} download>Download File</a></button>
        </td>
    </tbody>
</table>

<div id="waveform_original">
    <audio id="myAudio_original"><source id="audiofile_original" src={{soundfile_original}}></audio>
        <h1>원본 음악 플레이어</h1>
        <div class="controls_original">
          <button class="btn btn-primary" data-action="back">Backward</button>
          <button class="btn btn-primary" data-action="play">Play / Pause</button>
          <button class="btn btn-primary" data-action="forward">Forward</button>
          <button class="btn btn-primary" data-action="mute">Toggle Mute</button>
        </div>
    <script src = "/static/js/music_original.js"></script>
</div>

  <div class="spinner-wrap">
    <div class="spinner-outer"></div>
    <div class="spinner-center"></div>
    <div class="play-sprite"></div>
  </div>

  <audio loop="loop" data-bpm={{tempo}}>
    <source src={{soundfile_original}} type="audio/wav"/>
  </audio>
  <script src = "/static/js/function.js"></script>

{% endblock %}