body {
  color: #232323;
  font-family: 'Droid Sans', sans-serif;
  overflow: hidden;
  text-align: justify;
}

.door {
  -webkit-animation: text-yo 3s 1s ease-in-out;
          animation: text-yo 3s 1s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  color: #ccc;
  height: 25em;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-align: justify;
  top: 50%;
  font-size: 1.5rem;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
  width: 25em;
}