{% extends "base.html" %}
{% load bootstrap4 %}
{% block container %}

<style>
    body{
            background:linear-gradient(0deg,rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/static/img/backgroundimg_6.jpg");
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            margin: 0px;
        }
    iframe {
    width: 70%;
    height: 70%;
    }
</style>

<iframe src={{ url }}></iframe>

{% endblock %}

