<!doctype html>
<html lang="en">
<head>
    <title>웹과 음악 사이</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
    <link rel="stylesheet" href="/static/css/animation.css">
    <link rel="stylesheet" href="/static/css/nav_text.css">


    <script src="/static/js/animation.js"></script>


    <style>
        .mydiv-top {
        height: 10px;
        }
        .door1 {
        height: 90px;
        text-align: center;
        vertical-align: middle;
        padding: 0.6em 0 0;
        }
        .keyword-table {
        opacity: 0.90;
        background-color: #FFFFF0;
        }
        .mytext {
        color: #FFFFF0;
        text-align: center;
        }
        .here {
        overflow-y:scroll;
        width:1050px;
        height:600px;
        }
        .here::-webkit-scrollbar {
        display: none;
        }
        nav {
        opacity: 0.8;
        }
        #sidebar {
        background-color: #212529;
        }

    </style>
</head>

<body id="bg">
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" >
                <div class="myNavText" style="text-align: center; height: 100px; padding-top: 15px; font-size: 25px;">
                    <a class="logo myNavText_1" href="{% url 'home' %}" style="color: #60a5f7; font-weight: bold;">웹과 음악 사이<span class="myNavText_span">&nbsp;</span></a>
                </div>
                <ul class="list-unstyled components mb-5" style="font-weight: bold ">
                    <li class="active" onmouseover="func1(1)">
                        <a href="{% url 'home1' %}"><span class="fa fa-upload mr-3"></span> 음악 분석</a>
                    </li>
                    <li class="active" onmouseover="func1(2)">
                        <a href="{% url 'home2' %}"><span class="fa fa-search mr-3"></span> 음악 검색</a>
                    </li>
                    <li class="active" onmouseover="func1(3)">
                        <a href="{% url 'search:genre' %}"><span class="fa fa-list mr-3"></span> 장르별 인기차트</a>
                    </li>
                    <li class="active" onmouseover="func1(4)">
                        <a href="{% url 'home3' %}"><span class="fa fa-headphones mr-3"></span> 인기차트 100</a>
                    </li>
                </ul>
        </nav>
        <div id="content" class="p-4 p-md-5 pt-5">
            <div class="mydiv-top"></div>
            {% block container %}
            {% endblock %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.min.js" type="2e70319bb3298c022c929462-text/javascript"></script>
    <script src="/static/js/popper.js" type="2e70319bb3298c022c929462-text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="2e70319bb3298c022c929462-text/javascript"></script>
    <script src="/static/js/main.js" type="2e70319bb3298c022c929462-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
            data-cf-settings="2e70319bb3298c022c929462-|49" defer=""></script>
</body>
</html>