{% extends "base.html" %}
{% load bootstrap4 %}
{% block container %}

<link rel="stylesheet" href="/static/css/door.css">


<style>
    body{
        background:linear-gradient(0deg,rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/static/img/backgroundimg_8.gif");
        background-size: cover !important;
    @@ -13,8 +27,82 @@
    #a-here {
        font-size: 20px;
    }



</style>

<div class="door" style="text-align: right;">
    웹과 음악 사이(against. 코로나19)
    <br><br>
    코로나19로 남보다는 나와 함께하는 시간이 많아지고,<br>
    마스크로 입과 코는 가려도 눈과 귀는 가리지 못 하니,<br>
    보고 듣는 즐거움의 소중함을 느껴 만들었습니다.<br>
    듣는 음악을 시각화한 음악 분석과<br>
    듣는 음악을 목록화한 음악 검색을<br>
    제공하니 어디서 본 듯 해도 모른 척 해주시고<br>
    나도 하겠다싶어도 기특하게 봐주십시오.<br>
    LIVE(생)초보들이 모여 거북목이 되게 많들었는데<br>
    거북목은 산재도 안 되니 차라리 닌자거북이나 될걸...
</div>

<div class="mydiv-top"></div>

    <script src="/static/js/door.js"></script>


{% endblock %}