{% extends "base.html" %}
{% load bootstrap4 %}
{% block container %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
<link rel="stylesheet" href="/static/css/door.css">


<style>
    body{
        background:linear-gradient(0deg,rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/static/img/back.jpg");
        background-size: cover !important;
    @@ -13,8 +27,82 @@
    #a-here {
        font-size: 20px;
    }

</style>

<body class="top-container-bg">

<div class="door" style="text-align: center; transform: translate(-30%, -30%);">
    <h2 style="color: white;">웹과 음악 사이</h2>
   <br>
    코로나19로 남보다는 나와 함께하는 시간이 많아지고,<br>
    마스크로 입과 코는 가려도 눈과 귀는 가리지 못 하니,<br>
    보고 듣는 즐거움의 소중함을 느껴 만들었습니다.<br>
    당신이 원하는 음악을 분석하고<br>
    당신이 원하는 음악을 찾아드립니다.<br>
</div>

<div class="mydiv-top"></div>

    <script src="/static/js/door.js"></script>

</body>
{% endblock %}