{% extends "base.html" %}
{% load bootstrap4 %}
{% block container %}

<style>
    body{
		background:linear-gradient(0deg,rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/static/img/backgroundimg_3.jpg");
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		margin: 0px;
	}
</style>

<h3 class="mb-4 mytext">인기차트</h3>

{% for name in names %}
<form action="{% url 'search:chart' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="number" type="hidden" value="{{ name.number }}" style="font-color: white;">{{ name.name }}</input>
    <input type="submit" value="검색" style="text-align: center;" >
</form>
{% endfor %}

{% endblock %}