{% extends "base.html" %}
{% load bootstrap4 %}
{% block container %}

<style>
    body{
		background:linear-gradient(0deg,rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/static/img/backgroundimg_4.jpg");
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		margin: 0px;
	}
</style>

<h2 class="mb-4 mytext">동영상 검색하기</h2>

<div style="text-align: center;">
    <form action="{% url 'search:video' %}" method="post">
        {% csrf_token %}
        <input type="text" name="video">
        <input type="submit" value="검색">
    </form>
</div>
{% endblock %}